<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682329935211-4sn68udl3qv116b79v08580i172j3ia3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682329935211-4sn68udl3qv116b79v08580i172j3ia3</string>
	<key>API_KEY</key>
	<string>AIzaSyD3mVyBylLiesZJzeR82QXBQ7Kr2vbJ7D0</string>
	<key>GCM_SENDER_ID</key>
	<string>682329935211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamenotion.br.gameNotion</string>
	<key>PROJECT_ID</key>
	<string>game-notion</string>
	<key>STORAGE_BUCKET</key>
	<string>game-notion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682329935211:ios:d17ff34e29c318653f102e</string>
</dict>
</plist>